<!DOCTYPE html>
<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Herramienta de modelado</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
</head>
<body>

<section id="seccion1" class="pt-4 pb-0">
<div class="container">
    <div class= "row">
      <div class="col col-md-8 offset-md-2">
        <form action="/add" method="post">
          <div class="form row">
            <div class="mb-3 form-group col-12 col-md-6">
               <label for="value1">Minimum small-signal voltage gain(linear):</label>
               <input type="text" name="value1" class="form-control" placeholder="">
            </div>
            <div class="mb-3 col-12 col-md-6">
               <label for="value2">Minimum Common-Mode Rejection Ratio (CMRR) (linear):</label>
               <input type="text" name="value2" class="form-control" placeholder="">
            </div>
          </div>
          <div class="form row">
            <div class="mb-3 form-group col-12 col-md-6">
               <label for="value3">Minimum Unity-gain bandwidth:</label>
               <input type="text" name="value3" class="form-control" placeholder="">
            </div>
            <div class="mb-3 col-12 col-md-6">
               <label for="value4">Minimum Fase margin: (°):</label>
               <input type="text" name="value4" class="form-control" placeholder="">
            </div>
          </div>
          <div class="form row">
            <div class="mb-3 form-group col-12 col-md-6">
               <label for="value5">Minimun Power-Supply Rejection Ratio (PSRR) (linear):</label>
               <input type="text" name="value5" class="form-control" placeholder="">
            </div>
            <div class="mb-3 col-12 col-md-6">
               <button class="btn btn-primary mb-4" type="submit" name="submit" value="add">Submit</button>
            </div>
          </div>
        </form>

      </div>

    </div>
  </div>
</section>

<section id="seccion2">
    <div class="container">
        <div class="container-fluid">
            <div class="row">
            <div class="col btn btn-primary">
                  Val#1
                </div>
                <div class="col btn btn-secondary">
                   Val#2
                </div>
                 <div class="col btn btn-success">
                   Val#3
                </div>
                 <div class="col btn btn-warning">
                    Val#4
                </div>
                 <div class="col btn btn-light">
                    Val#5
                </div>
            </div>
            </div>
	    <div class="container-fluid">
		{% for l in t %}
            <div class="row">
                <div class="col">
                    {{l.value1}}
                </div>
                <div class="col">
                    {{l.value2}}
                </div>
                 <div class="col">
                    {{l.value3}}
                </div>
                 <div class="col">
                    {{l.value4}}
                </div>
                 <div class="col">
                    {{l.value5}}
                </div>
            </div>
		{% endfor %}
	    </div>
    </div>
</section>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>
</body>
</html>